@import "tailwindcss";

html, body, #root { height: 100%; }
body { font-family: 'Space Grotesk', sans-serif}
p { font-family: 'Inter', sans-serif}

html {
  scroll-padding-top: 80px;
  scroll-behavior: smooth;
}

